@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-gradient-to-r from-primary to-secondary duration-200 py-2 px-6 text-white rounded-full hover:scale-105;
  }
}

.animated-wrapper {
  animation-name: mover-wrapper;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes mover-wrapper {
  0% {
    /* 元素將從右上方開始移動，旋轉 0 度，並縮放為 0.8 倍大小。 */
    transform: translate(150%, 30%) rotate(0) scale(0.8);
  }
  50% {
    /* 元素將向左移動至屏幕的 60% 寬度處，向上移動至屏幕的 0% 高度處，旋轉 150 度，並縮放為 1.2 倍大小。 */
    transform: translate(60vw, 0vh) rotate(150deg) scale(1.2);
  }
  to {
    /* 元素將向左移動至屏幕的 40% 寬度處，向下移動至屏幕的 40% 高度處，旋轉 0 度，並縮放為 0.8 倍大小。 */
    transform: translate(40vw, 40vh) rotate(0deg) scale(0.8);
  }
}
